asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.4.0
crispy-bootstrap5==2024.10
Django==5.1.2
django-crispy-forms==2.3
django-embed-video==1.4.10
django-environ==0.11.2
django-multiselectfield==0.1.13
django-nepali-datetime-field==0.7.1
idna==3.10
nepali-datetime==1.0.8.3
pillow==11.0.0
psycopg2==2.9.10
requests==2.32.3
sqlparse==0.5.1
typing_extensions==4.12.2
urllib3==2.2.3